.done {
    text-decoration: line-through;
    border: 1px solid black;
    width: 400px;
    height: 40px;
    margin: auto;
    font-size: medium;
    line-height: 40px;
    text-align: center;
}

.undone {
    border: 1px solid black;
    width: 400px;
    height: 40px;
    margin: auto;
    font-size: medium;
    text-align: center;
    line-height: 40px;
}

.button {
    border: none;
    float: right;
    background-color: white;
    margin-top: 10px;
    margin-right: 10px;
}

.update {
    border: none;
    background-color: white;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}